{% extends 'base.html' %}

{% block main %}

<section>
    <div class = "text-dark text-center">
        <div>
        <p class = "he text-dark mb-4">Choose a product from below</p>
        </div>
    </div>

    <div class = 'card-columns'>
        {% for product in products%}
        <div class = "card">
            <img class = "card-img-top" src = "{{url_for('static', filename = 'img/'+product.image)}}" alt = "Card image">
            <div class = "card-body">
                <h4 class = "card-title">{{product.name}}</h4>
                <P class = "card-text">{{product.decription}}</P>
            </div>
            <div class = "card-footer">
                <form action = "{{url_for('main.order')}}">
                    <input type = "hidden" id = 'product_id' name = "product_id" value = "{{product.id}}">
                    <input class = "btn btn-primary" type = "sumbit" value = "Add to Shopping Cart">
                </form>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}